---
import { Icon } from "astro-icon/components";
interface Props {
    iconClass?: string;
    iconColor?: string;
    title?: string;
    description?: string;
    defaultClasses?: string;
    extraClasses?: string;
}
const {
    iconClass = "",
    iconColor = "bg-black text-white",
    title = "Innovación constante",
    description = "Impulsamos la innovación en tu empresa con estrategias efectivas y personalizadas.",
    defaultClasses = "bg-yellow-300 h-[500px]",
    extraClasses = ""
} = Astro.props as Props;
---

<div class={`${defaultClasses} p-4 rounded-xl font-[700] flex flex-col items-start justify-center gap-5 ${extraClasses}`}>
  <div class="flex flex-col items-start gap-2">
    <div class={`${iconColor} p-2 rounded-full text-4xl`}>
      <Icon name={iconClass} />
    </div>
    <span class="text-2xl text-start">{title}</span>
  </div>
  <p class="text-start">{description}</p>
</div>